<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Multiple examples & descriptions on the usage of the library's methods & constructors. Learn how to Create, Train & Use your Deep Neural Networks!"/>
    <meta name="author" content="Matias Vazquez-Levi"/>
    <meta name="keywords" content="Dann, Dannjs, js, nn, nn js, javascript, ai, ml, dnn, deep neural network, neural network, dnnjs, library, machine learning, documentation, docs, examples, example,wiki"/>


    <title>Dannjs | Documentation</title>
    <link rel="stylesheet" href="{{projectAssets}}/vendor/prettify/prettify-min.css">
    <link rel="stylesheet" href="{{projectAssets}}/css/highlight.css" id="site_styles">
    <link rel="stylesheet" href="{{projectAssets}}/css/main.css" id="site_styles">
            <!-- Google Tag Manager -->
                <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-PT2SZHT');</script>
            <!-- End Google Tag Manager -->
    <link rel="shortcut icon" type="image/png" href="{{projectAssets}}/favicon.ico">
    <script src="../highlight/hljs.min.js"></script>
        <script>
        hljs.configure({
            languages: ['js']
        });
        hljs.highlightAll();
    </script>
</head>
<body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PT2SZHT"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
<div id="doc">
    <header class="main-header">
        <div class="content">
            <a href="../index.html">
            <div class="project-title">
                {{#if projectLogo}}
                    <img class="logo" src="{{projectLogo}}" title="{{projectName}}">
                {{/if}}
                {{#if projectName}}
                    <h1 class="project-name">{{projectName}}</h1>{{#if projectVersion}} <span class="project-version">{{projectVersion}}</span>{{/if}}
                {{/if}}
                {{#if projectDescription}}
                    <p class="description">{{projectDescription}}</p>
                {{/if}}
            </div>
            </a>
            <ul class="jump-links">
                <li><a href="#top" class="top-jump-link">top</a></li>
            </ul>
        </div>
    </header>
    <div id="bd" class="main-body">

        <div id="docs-sidebar" class="sidebar apidocs">
            {{>sidebar}}
        </div>

        <div id="docs-main" class="apidocs">
            <div class="content container">
{{>layout_content}}
            </div>
        </div>

    </div>
</div>
<script src="{{projectAssets}}/vendor/prettify/prettify-min.js"></script>
<script>prettyPrint();</script>
<script src="{{projectAssets}}/vendor/jquery.min.js"></script>
<script src="{{projectAssets}}/js/jquery-offscreen-trigger.js"></script>
<script src="{{projectAssets}}/js/yui-prettify.js"></script>
<script src="{{projectAssets}}/../api.js"></script>
<script src="{{projectAssets}}/js/api-filter.js"></script>
<script src="{{projectAssets}}/js/api-list.js"></script>
<script src="{{projectAssets}}/js/api-search.js"></script>
<script src="{{projectAssets}}/js/apidocs.js"></script>
</body>
</html>