<div class="index-content" id="main-index-content">
{{!-- {{>readme}} --}}



  <div id="top">
    <a href="/">
      <div class="back">
        <img src="./assets/arrow.svg" alt="" id="backImg" width="25%">
      </div>
    </a>
    <h1 class="main-title">Docs</h1>
  </div>

  <div id="bottom">

    <div id="main-box">
      
      <div id="main-menu">
        {{#classes}}

        <a id="class-{{name}}" class="type no-underline" href="{{../projectRoot}}classes/{{name}}.html">
          <div class="module-wrap module">
            <h3>{{displayName}}</h3>
            <p>{{description}}</p>
          </div>
        </a>

      {{/classes}}
      </div>
      <div id="readme">
{{>readme}}
      </div>

    </div>


  </div>

</div>