<div class="index-content" id="main-index-content">

  <div id="top" class="index-top"> 
    {{>back-button}}
    <div>
      <h1 class="main-title">Docs</h1>
    </div>
    
  </div>

  <div id="bottom">

    <div id="main-box">
      
      <div id="main-menu">
        {{#classes}}

        <a id="class-{{name}}" class="type no-underline" href="{{../projectRoot}}classes/{{name}}.html">
          <div class="module-wrap module">
            <h3>{{displayName}}</h3>
            <p>{{description}}</p>
          </div>
        </a>

      {{/classes}}
      </div>
      <div id="readme">
{{>readme}}
      </div>

    </div>


  </div>

</div>