<h3 class="name">
{{#if is_constructor}}
    <code>new {{name}}</code>
{{else}}
    <code>{{name}}</code>
{{/if}}
{{#if params}}
    <div class="args">
        <code class="paren">(</code><ul class="args-list inline commas">
        {{#params}}
            <li class="arg">
                {{#if optional}}
                      <code class="optional">[{{name}}{{#if optdefault}}={{optdefault}}{{/if}}]</code>
                {{else}}
                    <code>{{name}}</code>
                {{/if}}
            </li>
        {{/params}}
        </ul><code class="paren">)</code>
    </div>
{{else}}
    <span class="paren">( )</span>
{{/if}}
</h3>