<div id="method_{{name}}" class="module-wrap" >
    <h3  class="name">{{name}}</h3>


    <div id="desc">
      <p>{{{methodDescription}}}</p>
    </div>
      <ul id="param-list">
      {{#params}}
      <li id="params">
        {{#if optional}}
            <code class="param-name optional">[{{name}}{{#if optdefault}}={{optdefault}}{{/if}}]</code>
            <span class="type"><span id="badge">{{#crossLink type}}{{/crossLink}}</span></span>
            <span class="flag optional" title="This parameter is optional.">optional</span>
        {{else}}
            <code class="param-name">{{name}}</code>
            <span class="type"><span id="badge">{{#crossLink type}}{{/crossLink}}</span></span>
        {{/if}}
        <div id="desc" class="param-description">
          <p>{{{description}}}</p>
        </div>
      </li>
      {{/params}}



      </ul>


        {{#example}}
            <div class="example">
            <code class="param-name optional">Example</code>
<pre id="code-area">
{{{.}}}
</pre>
            </div>
        {{/example}}

</div>